/* Import fonts */
@import url('https://use.typekit.net/upl4fxr.css');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;1,400;1,600&display=swap');

/* Container for the entire component */
.photos-container {
  margin: 20px;
}

/* Styling for the Masonry grid */
.masonry-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; /* Adjust as needed */
}

/* Styling for individual columns in the Masonry grid */
.masonry-grid-column {
  width: calc(33.33% - 20px); /* Adjust column width and spacing */
  padding: 0 10px;
}

/* Styling for each photo item */
.photo-item {
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
}

/* Styling for the images in the grid */
.photo-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.photo-item:hover .photo-image {
  transform: scale(1.05);
}

/* Styling for the modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
}

/* Styling for the modal overlay */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Styling for the slideshow navigation */
.slideshow-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 80vh; /* Limit the height of the slideshow image */
  display: block;
  margin: 0 auto;
}

.slideshow-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.slideshow-nav-btn {
  background-color: #333;
  color: #fefefe;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
}

/* Styling for the close button */
.modal_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.modal_close:hover {
  color: #e74c3c;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .masonry-grid-column {
    width: calc(50% - 20px);
  }

  .slideshow-image,
  .carousel-modal-container .carousel .slider,
  .carousel-modal-container .carousel .slider img {
    max-height: 60vh;
  }
  
  .modal {
    padding: 10px;
    max-width: 95%;
  }
}
